CompileFlags:
  Add: [-DNANOPRINTF_IMPLEMENTATION,
        -DNANOPRINTF_USE_FIELD_WIDTH_FORMAT_SPECIFIERS=1,
        -DNANOPRINTF_USE_PRECISION_FORMAT_SPECIFIERS=1,
        -DNANOPRINTF_USE_FLOAT_FORMAT_SPECIFIERS=1,
        -DNANOPRINTF_USE_LARGE_FORMAT_SPECIFIERS=1,
        -DNANOPRINTF_USE_SMALL_FORMAT_SPECIFIERS=1,
        -DNANOPRINTF_USE_BINARY_FORMAT_SPECIFIERS=1,
        -DNANOPRINTF_USE_WRITEBACK_FORMAT_SPECIFIERS=1,
        -DNANOPRINTF_USE_ALT_FORM_FLAG=1 ]
