cmake-build*
.idea
*~
*.i
*.ii
*.s
*.o
*.ko
*.obj
*.elf
*.pyc
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
build
external
tests/generated/
.DS_Store
*.TMP
.ruff_cache
