name: Presubmit Checks

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 2 * * 0'  # Weekly

permissions:
  packages: read

jobs:
  pylint:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/charlesnicholson/docker-image:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2
      - name: Pylint build.py
        run: . /work/venv/bin/activate && python -m pylint build.py

  linux-gcc:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/charlesnicholson/docker-image:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix:
        configuration: [Debug, Release]
        architecture: ['', --build-32-bit]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        env:
          CC: /usr/bin/gcc
          CXX: /usr/bin/g++
        run: ./b --cfg ${{ matrix.configuration }} ${{ matrix.architecture }} --paland -v

  linux-clang:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/charlesnicholson/docker-image:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        env:
          CC: /usr/bin/clang
          CXX: /usr/bin/clang++
        run: ./b --cfg ${{ matrix.configuration }} --paland -v

  macos:
    runs-on: macos-latest

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Build
        run: ./b --cfg ${{ matrix.configuration }} --paland -v

  win:
    runs-on: windows-latest

    strategy:
      matrix:
        architecture: [32, 64]
        configuration: [Debug, Release]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Build
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars${{ matrix.architecture }}.bat"
          python.exe build.py --cfg ${{ matrix.configuration }} --paland -v

  size-reports:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/charlesnicholson/docker-image:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2
      - name: Cortex-M0 Minimal
        shell: bash
        run: |
          arm-none-eabi-gcc \
            -mcpu=cortex-m0 \
            -Os \
            -x c \
            -c \
            -o cm0-min.o \
            -DNANOPRINTF_IMPLEMENTATION \
            -DNANOPRINTF_USE_FIELD_WIDTH_FORMAT_SPECIFIERS=0 \
            -DNANOPRINTF_USE_PRECISION_FORMAT_SPECIFIERS=0 \
            -DNANOPRINTF_USE_FLOAT_FORMAT_SPECIFIERS=0 \
            -DNANOPRINTF_USE_LARGE_FORMAT_SPECIFIERS=0 \
            -DNANOPRINTF_USE_WRITEBACK_FORMAT_SPECIFIERS=0 \
            - <<< '#include "nanoprintf.h"'
          arm-none-eabi-nm --print-size --size-sort cm0-min.o

      - name: Cortex-M0 Everything
        shell: bash
        run:
          arm-none-eabi-gcc \
            -mcpu=cortex-m0 \
            -Os \
            -x c \
            -c \
            -o cm0-max.o \
            -DNANOPRINTF_IMPLEMENTATION \
            -DNANOPRINTF_USE_FIELD_WIDTH_FORMAT_SPECIFIERS=1 \
            -DNANOPRINTF_USE_PRECISION_FORMAT_SPECIFIERS=1 \
            -DNANOPRINTF_USE_FLOAT_FORMAT_SPECIFIERS=1 \
            -DNANOPRINTF_USE_LARGE_FORMAT_SPECIFIERS=1 \
            -DNANOPRINTF_USE_WRITEBACK_FORMAT_SPECIFIERS=1 \
            - <<< '#include "nanoprintf.h"'
          arm-none-eabi-nm --print-size --size-sort cm0-max.o
